.PreCheckout {
    padding: 5vw 0vw;
    width: 50vw;
    margin: 0vw 0vw 0vw 50vw;
  }

.Bikini__Flex-Checkout {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50vw;
    padding: 2vw 5vw 0vw 0vw;
    box-sizing: border-box;
}

.Bikini__Subtotal {
    display: flex;
    flex-direction: column;
}

.Bikini__Subtotal-Title {
    font-size: 1vw;
    font-family: "Muli";
    color: #00AEEF;
}

.Bikini__Send {
    font-size: 1vw;
    font-family: "Muli";
    color: #3F414C;
}

.Bikini__Spacing {
    padding: 0.9vw 0vw;
}

.Bikini__Total {
    font-size: 1.7vw;
    font-family: "Muli";
    color: #00AEEF;
}

.Bikini__Buy {
    background: #00AEEF;
    color: #FFFFFF;
    border-radius: 100vw;
    text-align: center;
    padding: 1vw 0vw;
    width: auto;
    font-family: "Muli";
    font-size: 2vw;
    margin: 1.3vw 0vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.Bikini__Payment {
    color: #00AEEF;
    font-size: 1vw;
    font-family: "Muli";
}

.PreCheckout__Bikini {
    position: relative;
    transform: translate(0vw, -45vw);
}

.Bikini__HR {
    width: 45vw;
    height: 0.1vw;
    border-style: none;
    background: #3F414C;
    margin: 0vw;
}