.PreCheckout {
    width: 37vw;
    margin: -16vw 0vw 0vw 9vw;
  }

.Bikini__Flex-Checkout {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: auto;
    padding: 0vw 0vw 8vw 0vw;
    box-sizing: border-box;
}

.PreCheckout__Payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PreCheckout__PayU {
    width: 7vw;
    margin-top: 1vw;
  }


.PreCheckout__Price {
    position: relative;
    z-index: 5;
    width: auto;
    font-family: 'Muli', sans-serif;
    font-size: 1.8vw;
    line-height: 2.7vw;
    padding-bottom: 3vw;
}

.PreCheckout__Price-Title {
    font-family: "Anton", sans-serif;
    color: #00AEEF;
    font-size: 1.8vw;
}

.PreCheckout__Price-Discount {
    font-size: 1.8vw;
    font-weight: 700;
    color: #00AEEF;
}


.Precheckout__Description-Bold {
    font-weight: 700;
}


.Bikini__Subtotal {
    display: flex;
    flex-direction: column;
}

.Bikini__Subtotal-Title {
    font-size: 2.5vw;
    font-family: "Anton", sans-serif;
    color: #00AEEF;
}

.Precheckout__Description {
    font-family: "Muli";
    font-size: 1.2vw;
    color: #3F414C;
    margin: 0.3vw 0vw;
}

.Bikini__Send {
    font-size: 1vw;
    font-family: "Muli";
    color: #3F414C;
}

.Bikini__Spacing {
    padding: 0.9vw 0vw;
}

.Bikini__Total {
    font-size: 2vw;
    font-family: "Muli";
    color: #00AEEF;
}

.Bikini__Buy {
    background: #00AEEF;
    color: #FFFFFF;
    border-radius: 100vw;
    text-align: center;
    padding: 1vw 2vw;
    width: auto;
    font-family: "Muli";
    font-size: 1.3vw;
    margin: 1.3vw 0vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
    a:-webkit-any-link {
        text-decoration: none;
    }
  .PreCheckout__Button {
    background: #00AEEF;
    color: #FFFFFF;
    border-radius: 100vw;
    text-align: center;
    padding: 0.6vw 1vw;
    width: auto;
    font-family: "Muli";
    font-size: 1.2vw;
    margin: 1vw 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Precheckout__HR {
    width: 17vw;
    border-style: solid;
    border-width: 0.01vw;
    border-color: grey;
  }

  .PreCheckout__Flex{
      display: flex;
  }

  .Precheckout__Column{
    display: flex;
    flex-direction: column;
  }
.Bikini__Payment {
    color: #00AEEF;
    font-size: 1vw;
    font-family: "Muli";
    padding: 0.5vw 2vw;
    line-height: 1.4vw;
    text-align: center;
  }

.PreCheckout__Bikini {
    position: relative;
    transform: translate(0vw, -45vw);
}

.Bikini__HR {
    display: none;
    width: 54vw;
    height: 0.1vw;
    border-style: none;
    background: #3F414C;
    margin: 0vw;
}


@media screen and (max-width: 780px) {
    .PreCheckout {
        margin-top: 2vw;
        width: 70vw;
        margin: 2vw 0vw 3vw 26vw;      
    }
    .PreCheckout__PayU {
        width: 20vw;
        margin-top: 1vw;
      }
    .Bikini__Flex-Checkout {
        flex-direction: column;
    }
    .Precheckout__Description {
        font-size: 4vw;
        margin: 1vw 0vw;
        line-height: 5vw;
      }
    .PreCheckout__Button {
        font-size: 3.2vw;
        padding: 1.6vw 2vw;
    }
    .Bikini__Total {
        font-size: 5vw;
    }
    .Bikini__Buy {
        padding: 2vw 2vw;
        font-size: 4vw;
    }
    .Bikini__Payment {
        font-size: 4vw;
        padding: 4vw 0vw;
        line-height: 9vw;
    }
    .Bikini__Subtotal-Title {
        font-size: 5vw;
    }
    .Precheckout__Column {
        width: 72vw;
    }


.PreCheckout__Price {
    font-size: 4.8vw;
    line-height: 7.7vw;
    margin: 0vw;
    padding-bottom: 6vw;
    padding-top: 6vw;
}

.PreCheckout__Price-Title {
    font-size: 4.8vw;
    margin: 0vw;
}

.PreCheckout__Price-Discount {
    font-weight: 700;
    font-size: 4.2vw;
    color: #00AEEF;
}


.Precheckout__Description-Bold {
    font-weight: 700;
}
}

