.FallInLove {
    padding: 15.2vw 26vw;
    box-sizing: border-box;
    background-image: url("../../assets/Extras/Fall.jpg");
    background-size: cover;
}

.FallInLove__Title {
    font-family: "Anton", sans-serif;
    font-size: 4vw;
    color: #3F414C;
    padding: 0vw 0vw 3vw 0vw;
  }

.FallInLove__Description {
    font-family: "Muli", sans-serif;
    font-size: 2vw;
    color: #3F414C;
    width: 45vw;
  }

  @media screen and (max-width: 780px) {
    .FallInLove__Title {
      font-family: "Anton", sans-serif;
      font-size: 12vw;
   }  
   .FallInLove__Description {
    font-size: 7vw;
    width: 85vw;
   }
   .FallInLove {
    padding: 27.2vw 7vw;
   }
  }
