.FinalSelection {
  width: 43vw;
  padding: 2vw 0vw 0vw 2vw;
  font-family: "Muli";
}

.FinalSelection__Title {
    font-size: 4vw;
    font-family: "Anton";
    color: #00AEEF
}


.FinalSelection__Flex-Item {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
}

.FinalSelection__Item-Description {
    font-size: 1.5vw;
}

.FinalSelection__Item-Price {
    font-size: 1.5vw;
    width: 13vw;
    text-align: right;
}

.FinalSelection__Flex {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
}

@media screen and (max-width: 780px) {
    .FinalSelection {
        width: 77vw;
        padding: 0vw 0vw;
        margin: 0vw 0vw 2vw 14vw;
    }
    .FinalSelection__Title {
        font-size: 10vw;
    }
    .FinalSelection__Flex-Item {
        flex-direction: column;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .FinalSelection__Item-Description {
        font-size: 4.5vw;
      }
    .FinalSelection__Item-Price {
        font-size: 5.5vw;
        width: 77vw;
        text-align: left;
      }
    h2 {
        margin: 3vw 0vw;
        font-size: 5.5vw;
      }
    .ShoppingCart__Buy {
        padding: 5vw 3vw;
        border-radius: 8vw;
        text-align: center;
    }
      
}
