.BikiniTop {
    display: flex;
    flex-direction: column;
}
.Bikini__Size-Title {
    font-family: "Muli";
    font-size: 1vw;
}

.Bikini__Flex-Size {
    display: flex;
    font-family: "Muli";
    font-size: 1vw;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    padding: 1vw 0vw;
    cursor: pointer;
}

.BikiniTop__Title {
    font-family: "Muli",sans-serif;
    font-size: 1.4vw;
    font-weight: 800;
    color: #00AEEF;
    padding: 1vw 0vw;
}

.BikiniTop__Sub {
    font-family: "Muli",sans-serif;
    font-size: 1vw;
    padding: 0vw 0vw 1vw 0vw;
    color: #3F414C;
    width: 29vw;
    text-align: justify;
  }

.BikiniTop__Size {
    color: #3F414C;
    font-size: 1.6vw;
    margin: 0vw 0.3vw;
    width: 3vw;
    height: 3vw;
    padding: 1vw 1vw;
    text-align: center;
    line-height: 3vw;
  }

  .Bikini__Models {
    width: 4vw;
    height: 4vw;
    padding: 0.5vw 0.5vw;
}

.Bikini__Models--Selected {
    border: solid;
    border-width: 0.2vw;
    border-radius: 100vw;
    border-color: #00AEEF;
}

.BikiniTop__Size--Selected {
    border-radius: 100vw;
    border-style: solid;
    border-color: #00AEEF;
    border-width: 0.2vw;
}


@media screen and (max-width: 780px) {
    .BikiniTop__Title {
        font-size: 3.4vw;
    }
    .BikiniTop__Sub {
        font-size: 3vw;
        width: 70vw;
    }
    .Bikini__Models {
        width: 11vw;
        height: 11vw;
        margin: 0vw 0.7vw;
      }
    .Bikini__Models--Selected {
        border: solid;
        border-width: 0.8vw;
        border-radius: 8vw;
        border-color: #00AEEF;
    }
    .Bikini__Flex-Size {
        width: 72vw !important;
        flex-flow: wrap !important;
        text-align: center;
    }
    .BikiniTop__Size {
        color: #3F414C;
        font-size: 5vw;
        width: 11vw;
        height: 11vw;
        padding: 2vw 2vw;
        line-height: 11vw;
    }
    .BikiniTop__Size--Selected {
        border-width: 0.8vw;
    }
    .BikiniPanty__Title {
        font-size: 3.4vw;
    }      
    .Bikini__Print {
        width: 11vw;
        height: 11vw;
        margin: 1.2vw 1.2vw;
    }
    .Bikini__Print--Selected {
        border: 0.8vw solid #00AEEF;
        border-radius: 100vw;
    }

}