.Swimsuits {
  position: absolute;
  transform: translate(13vw, 15vw);
  width: 77vw;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  }

.Swimsuits__Image {
  width: 21.6vw;
  height: 27.1vw;
}

.Swimsuits__Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vw 0vw;
}

.Swimsuits__DiscountNumber {
  font-family: "Muli";
  color: white;
  margin: 0vw -2vw -4.9vw -20vw;
  z-index: 3;
  background: #00AEEF;
  border-radius: 0vw 0vw 20vw 0vw;
  padding: 1.2vw 1.3vw 2vw 0.4vw;
  font-size: 2vw;
}

.Swimsuits__Subcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0vw;
}

.Swimsuits__Title {
  color: #00AEEF;
  font-family: "Anton";
  font-size: 1.6vw;
}

.Swimsuits__Sub {
  color: #3F414C;
  font-family: "Anton";
  font-size: 1.6vw;
} 

.Swimsuits__Value {
  color: #3F414C;
  font-family: "Muli";
  font-size: 1.5vw;
  margin-top: 0.6vw;
  margin-bottom: 0.4vw;
  text-decoration: line-through;
}

.Swimsuits__Discount {
  color: #00AEEF;
  font-family: "Muli";
  font-size: 1.5vw;
  margin-top: 0.6vw;
  margin-bottom: 0.4vw;
}

.Swimsuits__Row {
  display: flex;
  justify-content: space-between;
  width: 16vw;
  height: 3vw;
  padding: 0.6vw 0vw;
}

.Swimsuits__Button-Customize {
  background: #00AEEF;
  color: #FFFFFF;
  font-family: "Muli";
  text-decoration: none;
  padding: 0.3vw 1vw;
  border-radius: 3vw;
  height: 1.3vw;
  font-size: 0.8vw;
  line-height: 1.2vw;
}

.Swimsuits__Button-Buy {
  background: #3F414C;
  color: #FFFFFF;
  font-family: "Muli";
  text-decoration: none;
  padding: 0.3vw 1vw;
  border-radius: 3vw;
  height: 1.3vw;
  font-size: 0.8vw;
  line-height: 1.2vw;
}

.Swimsuits__Flex {
  font-family: "Muli";
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16.2vw;
}


@media screen and (max-width: 780px) {
  .Swimsuits {
    justify-content: center;
  }
  .Swimsuits__Image {
    width: 65vw;
    height: 85vw;
  }
  .Swimsuits__Sub {
    font-size: 7.6vw;
  }
  .Swimsuits__Flex {
    width: 60vw;
  }
  .Swimsuits__Value {
    font-size: 5.5vw;
  }
  .Swimsuits__Discount {
    font-size: 5.5vw;
  }
  .Swimsuits__Row {
    width: 59vw;
    height: 8vw;
  }
  .Swimsuits__Button-Customize {
    padding: 2.3vw 3vw;
    height: 1.3vw;
    font-size: 2.8vw;
  }
  .Swimsuits__Button-Buy {
    padding: 2.3vw 3vw;
    height: 1.3vw;
    font-size: 2.8vw;
  }
  .Swimsuits__DiscountNumber {
    margin: 0 40vw -15.6vw -20vw;
    padding: 3.2vw 3.3vw 6vw .4vw;
    font-size: 7vw;
  }
  .Swimsuits__Sub{
    width: 80vw;
    text-align: center;
  }
  .Swimsuits__Column {
    width: 80vw;
    padding: 6vw 0vw;
  }
  .Swimsuits__Subcolumn {
    width: 80vw;
  }
}

