.Cart {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11vw 4vw 5vw 4vw;
    font-family: "Muli";
}

.Cart__Title{
    font-size: 5vw;
    font-family: "Anton";
    color: #3F414C;
}

.Cart__Table {
    margin-top: 5vw;
    font-family: "Muli";
    width: 100vw;
}

.Cart__Table-Head {
    background: #3F414C;;
    color: #FFFFFF;
    padding: 1vw 0vw;
    height: 5vw;
    line-height: 5vw;
}

.Cart__Table-Body {
    height: 6vw;
    line-height: 6vw;
    padding: 1vw 0vw;
}
