.BestSellers {
    position: relative;
    display: flex;
    z-index: 5;
    transform: translate(0vw,0vw);
    width: 100vw;
    height: 130vw;
}

.BestSellers__Title {
    font-size: 5vw;
    font-family: "Anton", sans-serif;
    color: #00AEEF;
    transform: translate(22vw,5vw);
    width: 70vw;
    height: 6vw;
  }

.BestSellers__Sellers {
    color: #3F414C;
}

.BestSellers__Image {
    position: absolute;
    width: 10vw;
    transform: translate(11vw, 0vw);
}



@media screen and (max-width: 780px) {
    .BestSellers{
      transform: translate(0vw, 0vw);
      height: 1150vw;
      }
      .BestSellers__Title {
        font-size: 9vw;
      } 
      .BestSellers__Image {
        width: 14vw;
        transform: translate(3vw, -2vw);
      }
}
  