.BikiniPanty {
    display: flex;
    flex-direction: column;
}
.Bikini__Size-Title {
    font-family: "Muli";
    font-size: 1vw;
}

.Bikini__Flex-Size {
    display: flex;
    font-family: "Muli";
    font-size: 1vw;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    padding: 1vw 0vw;
    cursor: pointer;
}

.Bikini__Titles {
    font-family: "Muli";
    font-size: 1vw;
    color: #3F414C;
}
.BikiniPanty__Title {
    font-family: "Muli",sans-serif;
    font-size: 1.4vw;
    font-weight: 800;
    color: #00AEEF;
    padding: 1vw 0vw;
}

.BikiniPanty__Sub{
    font-family: "Muli",sans-serif;
    font-size: 1vw;
    padding: 0vw 0vw 1vw 0vw;
    color: #3F414C;
    width: 29vw;
    text-align: justify;
}


@media screen and (max-width: 780px) {
    .BikiniPanty__Title {
        font-size: 3.4vw;
    }
    .Bikini__Titles {
        font-size: 3vw;
    }
    .BikiniPanty__Sub {
        font-size: 3vw;
        width: 73vw;
    }

}

