.Checkout {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2vw 6vw 2vw 9vw;
}

.Checkout__Logo{
    width: 18vw;
    height: 10vw;
    margin: 0vw 0vw 2vw 0vw;
}
.hide{
    display: none;
}

.Checkout__Input{
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    margin: 1vw 0vw;
}

.Checkout__Label {
    font-family: "Muli";
}

.Checkout__Label-Contact {
    font-size: 2vw;
}

.Checkout__Mail {
    margin: 1vw 0vw;
    width: 35vw;
}

.Checkout__Name {
    margin-right: 1vw;
}

.Checkout__Flex {
    display: flex;
    width: 35vw;
    justify-content: space-between;
}

.Checkout__CC {
    width: 35vw;
}

.Checkout__Error{
    font-family: "Muli";
    color: #ec524b
}

.Checkout_Location {
    margin-right: 1vw;
}

.Checkout__Email-Parent {
    margin-bottom: 1.6vw;
  }
.Checkout__Country {
    width: 13vw;
    margin-right: 1vw;
  }
.Checkout__Province {
    width: 13vw;
    margin-right: 1vw;
}

.Checkout__Separator {
    width: 42vw;
    border-right-style: solid;
    border-width: 0.1vw;
    border-color: #d9d9d9;
}

.Checkout_Buy {
  font-size: 2vw;
  background-color: #00AEEF;
  border-style: hidden;
  padding: 1vw 13.6vw;
  border-radius: 4.7vw;
  color: #FFFFFF;
}

.Checkout__Phone {
    margin-bottom: 2vw;
}

@media screen and (max-width: 780px) {
    .Checkout {
        flex-direction: column-reverse;
    }
    .Checkout__Separator {
        width: 78vw;
        margin-left: 14vw;
    }
    .Checkout__Logo {
        width: 65vw;
        height: 36vw;
    }
    .Checkout__Label-Contact {
        font-size: 6vw;
    }      
    .Checkout__Mail {
        width: 68vw;
    }
    .Checkout__Input {
        font-size: 5vw;
        border-radius: 3vw;
    }
    .Checkout__Flex {
        flex-direction: column;
        width: 68vw;
    }
    .Checkout__CC {
        width: 68vw;
        color: #333333;
    }
    .Checkout__Country {
        width: 68vw;
        color: #333333;
    }
    .Checkout__Province {
        width: 68vw;
        color: #333333;
    }
    .Checkout_Buy {
        font-size: 10vw;
        padding: 4vw 13.6vw;
    }
}
