.Header {
  height: 56.4vw;
}
.Header__Bikini{
    position: absolute;
    z-index: 3;
    transform: translate(11vw,45vw);
    width: 8vw;
}
.Header__One {
    width: 10vw;
    position: absolute;
    z-index: 4;
    transform: translate(88.6vw,43.5vw);
}
.Header__Title {
    position: absolute;
    z-index: 3;
    transform: translate(12vw,18vw);
    color: #3F414C;
    font-family: "Anton";
    font-size: 4.8vw;
    line-height: 6vw;
}
.Header__Subtitle {
    position: absolute;
    z-index: 3;
    transform: translate(12vw,36vw);
    color: #3F414C;
    font-family: "Muli";
    font-size: 1.6vw;
    line-height: 2.4vw;
    font-weight: 800;
}
.Header__Easy{
  color: #00AEEF;
}
.Header__Customize {
    color: #00AEEF;
}
.Header__Background {
    position: absolute;
    width: 100vw;
    height: 56.6vw;
    z-index: 2;
    transform: translate(0vw, 0vw);
}
.Header__Models {
    position: absolute;
    width: 34vw;
    transform: translate(36vw,15.3vw);
    z-index: 3;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}

.Header__Models--Out {
    position: absolute;
    width: 34vw;
    transform: translate(36vw,15.3vw);
    z-index: 3;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

.Header__Main-Logo {
    position: absolute;
    transform: translate(11vw,2vw);
    z-index: 3;
    width: 23vw;
}
.Header__Button-OnePiece {
    position: absolute;
    z-index: 3;
    transform: translate(68vw,48.3vw);
    cursor: pointer;
    padding: 0.5vw 3.7vw 0.5vw 0.7vw;
    font-weight: 700;
    width: 22vw;
    border-radius: 22vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00AEEF;
    color: white;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-size: 1.4vw;
}
.Header__Button-Bikini {
    position: absolute;
    z-index: 3;
    transform: translate(15.4vw,48.3vw);
    cursor: pointer;
    padding: 0.5vw 0.7vw 0.5vw 3.2vw;
    font-weight: 700;
    width: 20vw;
    border-radius: 22vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00AEEF;
    color: white;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-size: 1.4vw;
}
.Header__Button-White {
    background: #FFFFFF;
    border-radius: 22vw;
    width: 2.5vw;
    height: 2.5vw;
}
.Header__Button-Right {
    margin-left: 0.9vw;
    margin-top: 0.5vw;
    width: 1vw;
  }
.Header__Button-Left {
    margin-left: 0.7vw;
    margin-top: 0.4vw;
    width: 1vw;
    transform: rotate(180deg);
  }

  @media screen and (max-width: 780px) {
    .Header {
      height: 185vw;
    }
    .Header__Background {
      position: relative;
      height: 177.6vw;
      object-fit: cover;
      object-position: -158vw 0vw;
    }
    
    .BestSellers {
      transform: translate(0vw,0vw);
    }
    .Header__Models {
      position: absolute;
      width: 91vw;
      transform: translate(-93vw,67vw);
    }
    .Header__Button-Bikini {
      position: absolute;
      transform: translate(6vw,-17vw);
      padding: 2.5vw 4.7vw 2.5vw 4.7vw;
      width: 53vw;
      border-radius: 22vw;
      font-size: 4vw;
    }
    .Header__Button-White {
      width: 5.5vw;
      height: 5.5vw;
    }
    .Header__Button-Right {
      margin-left: 1.7vw;
      margin-top: 1vw;
      width: 2.2vw;
    }
    .Header__Title {
      position: absolute;
      font-size: 12.2vw;
      line-height: 14vw;
      transform: translate(23vw,-149vw);
    }
    .Header__Main-Logo {
      position: absolute;
      width: 48vw;
      transform: translate(-76vw,1vw);
    }
    .Header__Button-OnePiece {
      position: absolute;
      transform: translate(29vw,-31vw);
      padding: 2.5vw 4.7vw 2.5vw 4.7vw;
      width: 60vw;
      border-radius: 22vw;
      font-size: 4vw;
    }
    .Header__Button-Left {
      margin-left: 1.7vw;
      margin-top: 1vw;
      width: 2.2vw;
    }
    .Header__Subtitle {
      display: none;
    }
    .Header__Bikini {
      display: none;
    }
    .Header__One {
      display: none;
    }
    .Navbar__Logo {
      width: 20vw;
    } 
  }