.Customizer {
    height: auto;
    width: 100vw;
}

.Customizer__Closet {
    position: absolute;
    z-index: 5;
    width: auto;
    transform: translate(83.2vw, 3.6vw);
  }

.Customizer__One {
    position: relative;
    transform: translate(0vw, 0vw);
    font-family: "Muli";
    background: #3F414C;
    color: #FFFF;
    text-align: center;
    padding: 1vw 1.7vw;
    border-radius: 3vw;
    font-size: 1vw;
    margin: 0.7vw 0vw;
    width: 12vw;
    cursor: pointer
}

.Customizer__Palm  {
    position: absolute;
    width: 16vw;
    z-index: 1;
    transform: translate(84vw, 0vw);
  }

.Customizer__Float {
    position: absolute;
    width: 8vw;
    z-index: 7;
    transform: translate(39vw, 43vw);
  }

  .Customizer__Coconut {
    position: absolute;
    width: 14vw;
    z-index: 7;
    transform: translate(84vw, 11vw);
  }
  
  .Customizer__Snail {
    position: absolute;
    width: 10vw;
    z-index: 7;
    transform: translate(9vw, 43vw);
  }

.Customizer__BathRobe {
    font-family: "Muli";
    background:#00AEEF;
    text-align: center;
    color: #FFFF;
    padding: 1vw 1.7vw;
    border-radius: 3vw;
    margin: 0.5vw 0vw;
    font-size: 1vw;
    width: 12vw;
    cursor: pointer;
}

.Customizer__Save {
    font-family: "Muli";
    color: #3F414C;
    font-size: 1vw;
    margin: 0.5vw 0vw;
    cursor: pointer;
}


.Customizer__Design {
    font-family: "Muli";
    color: #3F414C;
    font-size: 1vw;
    margin: 0.5vw 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2.7vw 0vw 0vw;
    cursor: pointer
}

.Customizer__Hook {
    width: 0.8vw;
    cursor: pointer
}

.Customizer__Question {
    width: 1.4vw;
    cursor: pointer
}

.Customizer__Contact {
    font-family: "Muli";
    color: #3F414C;
    font-size: 1vw;
    margin: 0.5vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 0.7vw 0vw 0vw;
    cursor: pointer;
}

.Customizer__Advice {
    position: absolute;
    font-family: "Anton", sans-serif;
    transform: translate(84vw, -38vw);
    color: #3F414C;
    width: 12vw;
    font-size: 3vw;
    text-align: left;
    line-height: 2.7vw;
}

.Customizer__Advice-Text {
    color: #00AEEF;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    margin-top: 0.7vw;
    line-height: 2vw;
    font-size: 2vw;
}

.Customizer__Verify-Sizes{
    position: absolute;
    transform: translate(81.2vw, 29.6vw);
    font-size: 1.3vw;
    font-family: "Muli";
    background: #00AEEF;
    color: #FFFFFF;
    display: flex;
    padding: 1vw 2vw 0.6vw 2vw;
    align-items: center;
    border-radius: 10vw;
    cursor: pointer;
    z-index: 10;
}

.Customizer__Verify-Label {
    width: 10vw;
}

.Customizer__Star{
    width: 8vw;
    margin: -6vw -3vw -5vw -2vw;
}